<%= render 'layouts/header' %>

<div class="container">
  <div class="row">
    <div class="col-3">
<!--%= render 'layouts/index' %-->    </div>
    <div class="col-9">
      <div class="text-center">
        <p>
          ようこそ、ながのCAKEへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。
        </p>

<div class="container">
  <div class="d-flex align-items-center justify-content-center">
    <p>
      ようこそ、ながのCAKEへ！<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない方も商品の閲覧はできますが、<br>
      購入には会員登録が必要になります。
    </p>
  </div>
</div>
<div class='container'>
    <div class='row'>
      <% @products.first(4).each do |product| %>
        <div class='col-md-3'>
          <div class='card'>
            <%= link_to product_path(product) do %>
              <%= attachment_image_tag(product, :image, width: '100%', height: '100%', fallback: 'no_image.jpg') %>
              <div class='card-body'>
                <h6 class='card-title'>
                  <%= product.name %>
                </h6>
                <p class='card-text'>
                  ¥<%= product.tax_excluded_price %>(税抜)
                </p>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>