
<div class='container'>
 <div class='row'>
  <div class='col-md-12'>
   <th><h4><%= @customer.last_name %>
           <%= @customer.first_name %></h4></th>
  <div class="d-flex flex-column bd-highlight mb-3">
   <%= form_with model: @customer, url:admin_customer_path, local:true do |f| %>
   <div class="field">
    <tr><%= f.label :会員ID %></tr>
    <tr><%= f.text_field :id %></tr>
   </div>
   <div class="field">
    <tr><%= f.label :氏名 %></tr>
    <tr><%= f.text_field :last_name %>
        <%= f.text_field :first_name %></tr>
   </div>
   <div class="field">
     <tr><%= f.label :フリガナ %></tr>
     <tr><%= f.text_field :last_name_kana %>
         <%= f.text_field :first_name_kana %></tr>
   </div>
   <div class="field">
    <tr><%= f.label :郵便番号 %></tr>
    <tr><%= f.text_field :postcode %></tr>
   </div>
   <div class="field">
     <tr><%= f.label :住所 %></tr>
     <tr><%= f.text_field :address %></tr>
   </div>
   <div class="field">
    <tr><%= f.label :電話番号 %></tr>
    <tr><%= f.text_field :phone_number %></tr>
   </div>
   <div class="field">
    <tr><%= f.label :メールアドレス %></tr>
    <tr><%= f.text_field :email %></tr>
   </div>
   <div class="field">
    <tr><%= f.label :会員ステータス %></tr>
    <tr> <%= f.select :is_deleted, [['有効', false], ['退会', true]] %></tr>
   </div>
   <div class="field">
    <%= f.submit "変更を保存", class: "btn btn-success" %>
    <% end %>
   </div>
   </div>

</div>
</div>
</div>