
<div class="inner">
  <h2>注文履歴一覧(全<%= @orders.count %>件)</h2>
  <table class='table table-hover border-bottom'>
        <thead class='thead-white'>
          <tr>
            <th class='text-center'>購入日時</th>
            <th class='text-center'>購入者</th>
            <th class='text-center'>注文個数</th>
            <th class='text-center'>注文ステータス</th>
          </tr>
        </thead>

        <tbody>
        <% @orders.each do |order| %>
            <tr class='text-center'>
              <td><%= link_to order.created_at.strftime('%y/%m/%d %H:%M:%S') %></td>
              <td><%= order.customer.last_name %><%= order.customer.first_name %></td>
              <td><% order.order_products.each do |order_product| %>
                <p><%= order_product.product_quantity %></p>
                  <% end %>
              </td>
              <td><%= order.order_status %></td>

            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>
