
<div class="container-fluid col-lg-8">
  <%= form_with model: @admin, url: admin_session_path, local: true do |f| %>
    <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
    <%# <%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
    <%# 上記コードは「ログアウトしました」を表示する記述　%>
    <%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>

      <div class="row">
       <div class="col-md-3 mb-3">
          </br>
         <h1><span class="badge badge-secondary badge-success">ログイン</span></h1>
       </div>
      </div>



      <div class="row">
        <div class="col-md-4 offset-md-1">
          <h4><span class="badge badge-secondary">管理者ログイン</span></h4>
        </div>
      </div>

      </br>

      <div class="row">
        <div class="col-md-3 offset-md-2">
          <%= f.label :email,"メールアドレス" %><br />
        </div>
        <div class="col-md-4 offset-md">
          <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control" %>
        </div>
      </div>

      </br>

      <div class="row">
        <div class="col-md-3 offset-md-2">
          <%= f.label :password,"パスワード" %><br />
        </div>
        <div class="col-md-4 offset-md">
          <%= f.password_field :password, autocomplete: "current-password",class:"form-control" %>
        </div>
      </div>

      </br>

      <div class="row">
        <div class="col-md-3 offset-md-5">
          <%= f.submit "ログイン",class:"btn btn-info" %>
        </div>
      </div>

      <div class="actions">

      </div>


</div>
  <% end %>
