<%# ヘッダー部分テンプレート挿入部分%>
<%= render 'layouts/header' %>


<div class="container-fluid col-lg-10">
  
  
  <p class="banner">ログイン</p>
  <%= form_with model: @customer, url: customer_session_path, local: true do |f| %>
    <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
    <%# <%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
    <%# 上記コードは「ログアウトしました」を表示する記述　%>
    <%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
    <div class="contents-box">
      <div id="text">
        <h4>会員の方はこちらからログイン</h4>
      </div>
      <div class="form-group">
        <%= f.label :email,"メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    
      <div class="form-group">
        <%= f.label :password,"パスワード" %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
    
      <div class="actions">
        <%= f.submit "ログイン" %>
      </div>
    </div>
  <% end %>
  
  <div class-"no-sign_up">
    <h4>会員登録がお済みでない方</h4>
    <p><%= link_to "こちら",new_customer_registration_path %>から新規登録を行ってください。</p>
  </div>
</div>