<div class="container-fluid">
  <div class="row">
    <div class="mx-auto col-6 text-center">
      <h2>商品一覧(全<%= @products.count %>件)</h2>
      <table class="table table-striped">
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
      </tr>
        <% @products.each do |product| %>
        <tr>
            <td><%= product.id %></td>
            <td>
               <%= link_to edit_admin_product_path(product.id) do %>
                <%= product.name %>
              <% end %>
              </td>
            <td><%= product.tax_excluded_price %></td>
            <td>
              <%= product.genre.name %>
            </td>
              <% if product.sale_status == true %>
                  <td>販売中</td>
                <% else %>
                  <td>販売停止中</td>
              <% end %>
          </tr>
        <% end %>
      </table>
      <div class="text-right">
        <%= link_to "新規商品登録", new_admin_product_path, class:"btn btn-success" %>
      </div>
    </div>
  </div>
</div>