<%= stylesheet_link_tag "adnim/products", :media => "all" %>

<div class="inner">
  <table class="admin-product-table">

    <h4 class="admin-product-banner">商品新規登録ページ</h4>
    <%= form_with model: @product, url: admin_products_path, local: true do |f| %>
    <tr class="admin-product-label">
      <th>画像</th>
      <td><%= f.attachment_field :image %></td>
    </tr>
    <tr class="admin-product-label">
      <th>商品名</th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr class="admin-product-label">
      <th>商品説明</th>
      <td><%= f.text_area :description %></td>
    </tr>
    <tr class="admin-product-label">
      <th>税抜価格</th>
      <td><%= f.text_field :tax_excluded_price %></td>
    </tr>
    <tr class="admin-product-label">
      <th>ジャンル</th>
      <td><%= f.collection_select(:genre_id, @genres, :id, :name) %></td>
    </tr>
    <tr class="admin-product-label">
      <th>販売ステータス</th>
      <td>
        <label class="admin-product-radio_button"><%= f.radio_button :sale_status, true %> 販売中</label>
      </td>
      <td>
        <label class="admin-product-radio_button"><%= f.radio_button :sale_status, false %> 販売停止中</label>
      </td>
    </tr>
    <tr class="admin-product-label">
      <td><%= f.submit '新規登録' %></td>
    </tr>


    <% end %>
  </table>
</div>