<%= stylesheet_link_tag "adnim/products", :media => "all" %>

<div class="content-fluid col-lg-12">
  <%= form_with model: @product, url: admin_products_path, local: true do |f| %>
  <div class="row">
    <div class="col-md-3 mb-3 offset-md-1">
          </br>
         <h1><span class="badge badge-secondary offset-md-3">商品新規登録</span></h1>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-3 offset-md-3">
      <p>商品画像</p>
    </div>
    <div class="col-md-3 offset-md mb-3">
      <%= f.attachment_field :image %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-3 offset-md-3">
      <p>商品名</p>
    </div>
    <div class="col-md-3 offset-md mb-3">
      <%= f.text_field :name %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-3 offset-md-3">
      <p>商品説明</p>
    </div>
    <div class="col-md-3 offset-md mb-3">
      <%= f.text_area :description %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-3 offset-md-3">
      <p>ジャンル</p>
    </div>
    <div class="col-md-3 offset-md mb-3">
      <%= f.collection_select(:genre_id, @genres, :id, :name) %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-3 offset-md-3">
      <p>税抜価格</p>
    </div>
    <div class="col-md-3 offset-md mb-2">
      <%= f.text_field :tax_excluded_price %> 円
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-3 offset-md-3">
      <p>販売ステータス</p>
    </div>
    <div class="col-md-3 offset-md mb">
      <%= f.radio_button :sale_status, true %> 販売中
      <%= f.radio_button :sale_status, false %> 販売停止中
    </div>
  </div>
  
  <div class="d-flex justify-content-center">
    <div class="col-md-3 offset-md-1">
      <%= f.submit '新規登録', class:"btn btn-success" %>
    </div>
  </div>
  <% end %>
  
</div>
