<div class='container'>
 <h4>注文情報確認</h4>
<div class='row'>
 <div class='col-xs-7'>
  <table align="left" class="table table-bordered">
<thead>
 <tr>
  <th>商品名</th>
  <th>単価</th>
  <th>数量</th>
  <th>小計</th>
 </tr>
</thead>
<tbody>
  <% sum = 0 %>
  <% @carts.each do |cart| %>
 <tr>
  <td><%= cart.product.name %></td>
  <td><%= cart.product.tax_excluded_price %></td>
  <td><%= cart.product.product_quantity %></td>
  <td><%= cart.subtotal %>
      <% sum += cart.subtotal %></td>
 </tr>
  <% end %>
</tbody>
</table>
</div>

<div class='row'>
 <div class='col-xs-3'>
<table class="table table-bordered">
　<% sum = 0 %>
 <tr>
  <th>送料</th>
  <th>800</th>
 </tr>
 <tr>
  <th>商品合計</th>
  <td><% sum += @carts.subtotal %></td>
 </tr>
 <tr>
  <% total_price = @carts.subtotal + 800 %>
  <th>請求金額</th>
  <td><%= total_price %></td>
 </tr>
</table>
</div>
</div>

 <tr>
  <th>支払方法</th>
  <td><%= @order.payment_method %></td>
 </tr>
 <tr>
  <th>お届け先</th>
 </tr>
 <tr>
  <td><%= @order.postcode %></td>
  <td><%= @order.address %></td>
  <td><%= @order.name %></td>
 </tr>
 </table>

   <%= form_with model: @order, url: complete_path, method: :post, local: true do |f| %>
   <%= f.hidden_filed :postcode %>
   <%= f.hidden_filed :address %>
   <%= f.hidden_filed :name %>
   <%= f.hidden_filed :payment_method %>
   <%= f.hidden_filed :total_price %>
   <th><%= f.submit "注文を確定させる", class: 'btn btn-primary' %></th>
  <% end %>
</div>
</div>