div class='container'>
  <div class='row'>
    <div class='col-md-8'>
<div class="field">
 <h4>注文情報確認</h4>
 <!--% if current_customer.carts.present? %-->
<table class="table table-bordered">
<thead>
 <tr>
  <th>商品名</th>
  <th>単価</th>
  <th>数量</th>
  <th>小計</th>
 </tr>
</thead>
<tbody>
  <% sum = 0 %>
  <% @carts.each do |cart| %>
 <tr>
  <td><%= cart.product.name %></td>
  <td><%= cart.product.tax_excluded_price %></td>
  <td><%= cart.product.product_quantity %></td>
  <td><%= cart.subtotal %></td>
 </tr>
  <% end %>
</tbody>

</table>
<table class='right'>
　<% sum = 0 %>
 <tr>
  <th>送料</th>
  <td><%= @order.postage %></td>
 </tr>
 <tr>
  <th>商品合計</th>
  <td><% sum += @cart.subtotal %></td>
 </tr>
 <tr>
  <% total_price = @cart.subtotal + 800 %>
  <th>請求金額</th>
  <td><%= total_price %></td>
 </tr>
</table>

 <div class="left-body">
 <tr>
  <th>支払方法</th>
  <td><%= @order.payment_method %></td>
 </tr>
 <tr>
  <th>お届け先</th>
 </tr>
 <tr>
  <td><%= @order.postcode %></td>
  <td><%= @order.address %></td>
  <td><%= @order.name %></td>
 </tr>
 </div>
 <div class="col-xs-11">
   <%= form_with model: @order, url: complete_path, method: :post, local: true do |f| %>
   <%= f.hidden_filed :postcode %>
   <%= f.hidden_filed :address %>
   <%= f.hidden_filed :name %>
   <%= f.hidden_filed :payment_method %>
   <%= f.hidden_filed :total_price %>
   
   <th><%= f.submit "注文を確定させる", class: 'btn btn-primary' %></th>
  <% end %>
 </div>
  <!--% else %-->
   <th>カート内が空です</th>
  <!--% end %-->
</div>
</div>
</div>
</div>