<div class='container'>
 <div class='row'>
  <div class='col-md-8'>
   <thead>
    <th><h4>注文情報入力</h4></th>
   </thead> 
<div class="field">
 <tbody>
  
  <div class="payment_method">
  <%= form_with model: @order do |f| %>
   <th><h5>支払方法</h5></th>
  <div class="radio-inline">
   <th>
   <%= f.radio_button :payment_method, :"0", checked: "checked" %>
   <%= f.label :クレジットカード, class: "payment_method" %>
   </th>
  </div>
 <div class="radio-inline">
  <th>
  <%= f.radio_button :payment_method, :"1" %>
  <%= f.label :銀行振込, class: "payment_method" %>
  </th>
 </div>
 </div>
 
 
 <div class="address">
  <th><h4>お届け先</h4></th>
 <div class="radio-inline">
  <th>
   <%= f.radio_button :address, :ご自身の住所, checked: "checked" %>
   <%= f.label :ご自身の住所, class: "address" %>
  </th>
  <th>
   <!--%= @cutstomer.address %-->
  <!--ページ実装されてから実装-->
  </th>
 </div>
  
 <div class="radio-inline">
  <th>
   <%= f.radio_button :address, :登録住所から選択 %>
   <%= f.label :登録住所から選択, class: "address" %>
 </div>
  </th>
  <th>
　 登録住所一覧
　  <!--登録住所一覧（方法不明）-->
　</th>
　
 <div class="radio-inline">
  <th>
   <%= f.radio_button :address, :新しいお届け先 %>
   <%= f.label :新しいお届け先, class: "address" %>
  </th>
 </div>
 <div class="text-inline">
  <th>
   <%= f.label :postcode, "郵便番号（ハイフンなし)" %> 
   <%= f.text_field :postcode %>
  </th>
 </div>
 <div class="text-inline">
  <th>
   <%= f.label :address, "住所" %>
   <%= f.text_field :address %>
  </th>
 </div>
 <div class="text-inline">
  <th>
   <%= f.label :name, "宛名" %>
   <%= f.text_field :name %>
  </th>
 </div>
 
 <div class="submit-inline">
  <th><%= f.submit "確認画面へ進む" %></th>
 <% end %>
  </div>
 </tbody>
</div>
</diV>
</div>