<%= render 'layouts/header' %>
<div class='container'>
 <div class='row'>
  <div class='col-md-20'>
<h4>注文履歴詳細</h4>
<table align="left" class="table table-bordered">
<tr>
 <th>注文情報</th>
</tr>
<thead>
 <th>注文日</th>
 <th>配送先</th>
 <th>支払方法</th>
 <th>ステータス</th>
</thead>
<tbody>
 <th>
  <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
 </th>
 <th>
  <td><%= @order.postcode %></td>
  <td><%= @order.address %></td>
  <td><%= @order.name %></td>
 </th>
 <th>
  <td><%= @order.payment %></td>
 </th>
 <th>
  <td><%= @order.order_status %></td>
 </th>
</tbody>
</table>

      
      
</div>
</div>
</div>