
<div class='container'>
 <h4>注文履歴詳細</h4>
 <div class='row'>
  <div class='col-xs-6'>
  <th>注文情報</th>
<table align="left" class="table table-bordered">
<tr>
 
</tr>
<thead>
 <th>注文日</th>
 <th>配送先</th>
 <th>支払方法</th>
 <th>ステータス</th>
</thead>
<tbody>
 <th>
  <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
 </th>
 <th>
  <td><%= @order.postcode %></td>
  <td><%= @order.address %></td>
  <td><%= @order.name %></td>
 </th>
 <th>
  <td><%= @order.payment %></td>
 </th>
 <th>
  <td><%= @order.order_status %></td>
 </th>
</tbody>
</table>
</div>
</div>

<th>請求情報</th>
<div class='row'>
 <div class='col-xs-4'>
<table align="right" class="table table-bordered">
   <tr>
    <th>商品合計</th>
    <td><%= @order.payment %>円</td>
   </tr>
   <tr>
    <th>配送料</th>
    <td>800</td>
   </tr>
  <tr>
   <% total_payment = @order.payment + 800 %>
   <th>ご請求額</th>
   <td><%= total_payment %></td>
  </tr>
 </table>
</div>
</div>
  <th>注文内容</th>
 <table class="table">
  <thead>
   <th>商品</th>
   <th>単価（税込）</th>
   <th>個数</th>
   <th>小計</th>
  </thead>
  <tbody>
   <% sum = 0 %>
  <% @carts.each do |cart| %>
 <tr>
  <td><%= cart.product.name %></td>
  <td><%= cart.product.tax_excluded_price %></td>
  <td><%= cart.product_quantity %></td>
  <td><%= cart.subtotal %>
      <% sum += cart.subtotal %></td>
 </tr>
  <% end %>
  </tbody>
 </table>
</div>